<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HoneyCombo</title>
    <link rel="stylesheet" type="text/css" href="/src/css/productMain.css">
</head>
<body>
<h3>메인 상품 페이지</h3>
<nav>
    <!--    login/signup/logout/product/reciped -->
    <ul>
        <li><a href="/product/main">상품</a></li>
        <li><a href="/recipe/mainRecipe">레시피</a></li>
    </ul>

    <div class="auth">
        <% if (isLoggedin)  { %>
            <div>
                <h5><%= userID %>님 안녕하세요!</h5>
                <a href="/auth/logout">logout</a>
                <a href="/auth/dropout">drop out</a>
            </div>
        <% } %>
        <% if (!isLoggedin) { %>
            <div>
                <li><a href="/auth/login">login</a></li>
                <li><a href="/auth/signup">signup</a></li>
            </div>
        <% } %>
    </div>
</nav>

<section class="showWrap">
    <div class="search">
        <ul>
            <!--TODO: if text input area is empty, blocking button at front and don't send request to server-->
            <li class="productSearch">
                <input type="text" name="itemName" placeholder="상품명 입력">
                <button id="searchButton">검색</button>
            </li>
            <div class="sort">
                <li class="companySort">
                    <button name="GS">GS</button>
                    <button name="CU">CU</button>
                    <button name="7-Eleven">7-Eleven</button>
                </li>
                <li class="priceSort">
                    <!--            이 중 하나만 먼저-->
                    <button name="low">낮은가격순</button>
                    <button name="high">높은가격순</button>
                </li>
            </div>
        </ul>
    </div>
    <!--TODO: show default result product list using 'see more' button-->
    <div class="defaultResult">
        <% if(items != null && items.length > 0){ %>
        <ul>
            <% for ( var i = 0; i < items.length; i++){ %>
                <article id="item">
                    <!--TODO : change source path and change IMGFILENAME to format contained file-->
                    <% var imgSrc = '/images/' + items[i].IMGFILENAME %>
                    <% console.log(imgSrc) %>
                    <!--<h4><%= i %>번째 상품</h4>-->
                    <img src=<%= imgSrc %>>
                    <li id="itemCompany"><%= items[i].COMPANY %></li>
                    <li id="itemName"><%= items[i].ITEMNAME %></li>
                    <li id="itemPrice"><%= items[i].ITEMPRICE %>원</li>
                    <!--<li><%= items[i].REGISTRATIONDATE %></li>-->
                    <br>
                </article>
            <% } %>
            <% } else { %>
                <p>상품 없음</p>
            <% } %>
        </ul>
    </div>
</section>
</body>
<script type="module" src="/src/js/productMain.js"></script>
</html>