<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HoneyCombo</title>
</head>
<body>
<h3>메인 상품 페이지</h3>
<nav>
    <!--    login/signup/logout/product/reciped -->
    <ul>
        <li><a href="/product/main">상품</a></li>
        <li><a href="/recipe/mainRecipe">레시피</a></li>
    </ul>

    <div class="auth">
        <% if (isLoggedin)  { %>
        <div>
            <h5><%= userID %>님 안녕하세요!</h5>
            <a href="/auth/logout">logout</a>
            <a href="/auth/dropout">drop out</a>
        </div>
        <% } %>
        <% if (!isLoggedin) { %>
            <div>
                <li><a href="/auth/login">login</a></li>
                <li><a href="/auth/signup">signup</a></li>
            </div>
        <% } %>
    </div>
</nav>

<section class="showWrap">
    <ul>
        <!--TODO: if text input area is empty, blocking button at front and don't send request to server-->
        <li class="productSearch">
            <input type="text" name="itemName">
            <button>검색하기</button>
        </li>
        <li class="companySort">
            <button name="GS">GS</button>
            <button name="CU">CU</button>
            <button name="7-Eleven">7-Eleven</button>
        </li>
        <li class="priceSort">
            <!--            이 중 하나만 먼저-->
            <button>인기상품순</button>
            <button>최신등록순</button>
            <button>낮은가격순</button>
            <button>높은가격순</button>
        </li>
    </ul>
    <!--TODO: show default result product list using 'see more' button-->
    <section class="defaultResult">
        <% if(items != null && items.length > 0){ %>
        <ul>
            <% for ( var i = 0; i < items.length; i++){ %>
                <article>
                    <!--TODO : change source path and change IMGFILENAME to format contained file-->
                    <% var imgSrc = '/images/' + items[i].IMGFILENAME %>
                    <% console.log(imgSrc) %>
                    <h4><%= i %>번째 상품</h4>
                    <li><%= items[i].ITEMNAME %></li>
                    <li><%= items[i].ITEMPRICE %></li>
                    <li><%= items[i].COMPANY %></li>
                    <li><%= items[i].REGISTRATIONDATE %></li>
                    <li><img src=<%= imgSrc %>></li>
                    <br>
                </article>
            <% } %>
            <% } else { %>
                <p>상품 없음</p>
            <% } %>
        </ul>
    </section>
</section>
</body>
<script type="module" src="./src/js/productMain.js"></script>
</html>