<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>HoneyCombo</title>
    <link rel="stylesheet" href="/recipeDetail.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonsymous">
    <link rel=”stylesheet” href=”https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!--    for kakao API-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width"/>
    <script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
</head>
<body>
<header>
    <div class="container d-flex mt-2">
        <div class="p-2">
            <a href="/main">
                <div class='logo-wrapper'>
                    <img class='img-fluid' src="/static/logo.png" width="200" height="70">
                </div>
            </a>
        </div>
        <div class="p-2">
            <nav class="navbar navbar-expand-lg navbar-light">
                <ul>
                    <li><a class="nav-a one p-3 text-dark ml-2 mr-5" href="/product/main" style="text-decoration:none"><h3>상품</h3></a></li>
                    <li><a class="nav-a two p-3 text-dark ml-3" href="/recipe/mainRecipe" style="text-decoration:none"><h3>레시피</h3></a></li>
                    <hr id="nav_hr">
                </ul>
            </nav>
        </div>

        <% if (isLoggedin) { %>
            <div class="ml-auto p-4 mt-2">
                <h5 class="d-inline mt-1"> <%= userID  %>님 반가워요 :)</h5>&nbsp;
                <a class="btn btn-primary" id="logout" href="/auth/logout">로그아웃</a>
                <a class="btn btn-primary" id="dropout" href="/auth/dropout">회원탈퇴</a>
            </div>
        <% } %>
        <% if (!isLoggedin) { %>
            <div class="ml-auto p-4 mt-2">
                <a class="btn btn-primary" id="login" href="/auth/login">로그인</a>
                <a class="btn btn-primary" id="signup" href="/auth/signup">회원가입</a>
            </div>
        <% } %>
    </div>
</header>
<main>
    <div class="container recipeInfo" id="">
        <% var imgSrc = '/images/' + items.recipeData[0].imgPath %>
        <% var recipeTitle = items.recipeData[0].title %>

        <!--recipeInfo-->
        <% if(isLoggedin && (userId == userID)) { %>
            <h3 class="text-center"><b>내가 작성한 레시피</b></h3>
        <%} else{%>
            <h3 class="text-center"><b>writer 님의 레시피</b></h3> <!--writer 변수 추가해야-->
        <%}%>
        <hr>

        <!--thumnail-->
        <div class="row">
            <div class="col text-center mb-3">
                <img src="<%= imgSrc %>" alt="recipe_img" width="400" height="300"/>
            </div>
        </div>
        <div class="text-center my-3">
            <h4 class="recipe-title"><%= recipeTitle %></h4>
        </div>

        <label class="col-sm-2 col-form-label" style="font-size:1.8rem">레시피 재료</label>
        <!--products-->
        <div id="myCarousel" class="carousel slide p-2" data-ride="carousel" data-interval="false">
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item pb-3 active">
                    <div class="row">
                        <div class="col col1">
                            <div class="text-center">
                                <img class="rounded mx-auto d-block" width=150 height=150 src="https://img1.daumcdn.net/thumb/R800x0/?scode=mtistory2&fname=https%3A%2F%2Ft1.daumcdn.net%2Fcfile%2Ftistory%2F224E4A485932CC1303">
                                <h4 class="card-title">재료명</h4>
                            </div>
                        </div>
                        <div class="col col2">
                            <div class="text-center">
                                <img class="rounded mx-auto d-block" width=150 height=150 src="https://img1.daumcdn.net/thumb/R800x0/?scode=mtistory2&fname=https%3A%2F%2Ft1.daumcdn.net%2Fcfile%2Ftistory%2F224E4A485932CC1303">
                                <h4 class="card-title">재료명</h4>
                            </div>
                        </div>
                        <div class="col col3">
                            <div class="text-center">
                                <img class="rounded mx-auto d-block" width=150 height=150 src="https://img1.daumcdn.net/thumb/R800x0/?scode=mtistory2&fname=https%3A%2F%2Ft1.daumcdn.net%2Fcfile%2Ftistory%2F224E4A485932CC1303">
                                <h4 class="card-title">재료명</h4>
                            </div>
                        </div>
                        <div class="col col4">
                            <div class="text-center">
                                <img class="rounded mx-auto d-block" width=150 height=150 src="https://img1.daumcdn.net/thumb/R800x0/?scode=mtistory2&fname=https%3A%2F%2Ft1.daumcdn.net%2Fcfile%2Ftistory%2F224E4A485932CC1303">
                                <h4 class="card-title">재료명</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item pb-3">
                    <div class="row">
                        <div class="col col1">
                            <div class="text-center">
                                <img class="rounded mx-auto d-block" width=150 height=150 src="https://kr-mb.theepochtimes.com/news/photo/first/201510/img_395847_1.gif">
                                <h4 class="card-title">재료명</h4>
                            </div>
                        </div>
                        <div class="col col2">
                            <div class="text-center">
                                <img class="rounded mx-auto d-block" width=150 height=150 src="https://kr-mb.theepochtimes.com/news/photo/first/201510/img_395847_1.gif">
                                <h4 class="card-title">재료명</h4>
                            </div>
                        </div>
                        <div class="col col3">
                            <div class="text-center">
                                <img class="rounded mx-auto d-block" width=150 height=150 src="https://kr-mb.theepochtimes.com/news/photo/first/201510/img_395847_1.gif">
                                <h4 class="card-title">재료명</h4>
                            </div>
                        </div>
                        <div class="col col4">
                            <div class="text-center">
                                <img class="rounded mx-auto d-block" width=150 height=150 src="https://kr-mb.theepochtimes.com/news/photo/first/201510/img_395847_1.gif">
                                <h4 class="card-title">재료명</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>

        </div>
        <hr>

        <!--recipeRating-->
        <div class="row justify-content-start">
            <div class="col-2 ml-3">
                <span style="font-size:1.8rem">평점</span>
                <span class="ml-5" style="font-size:1.8rem">|</span>
            </div>

            <%if (avgRate != '평점 미등록'){%>
            <div class="col-2 align-self-center">
                <!--                    수정사항 : span 개수를 rate 만큼으로 for loop 처리-->
                <% for(var i = 0; i < parseInt(avgRate); i++) { %>
                    <!--평점<%= rate %>-->
                    <span class="fa fa-star checked"></span>
                <%}%>
            </div>

                <div class="col-2">
                    <span id="rate" style="font-size:1.8rem"><%= avgRate %></span>
                    <span style="font-size:1.8rem">점</span>
                </div>
            <%}%>

            <!-- 평가 아직 없는 경우 -->
            <%if (avgRate === '평점 미등록'){%>
                <div class="col-4 align-self-center">
                    <span style="font-size:1.6rem">아직 평가가 없어요ㅜㅜ</span>
                </div>
            <%}%>

            <div class="col-1">
                <span style="font-size:1.8rem">가격</span>
            </div>
            <div class="col-1">
                <span style="font-size:1.8rem">|</span>
            </div>
            <div class="col-2">
                <span id="price" style="font-size:1.8rem"><%= items.recipeData[0].totalPrice %> </span>
                <span style="font-size:1.8rem">원</span>
            </div>
        </div>
        <hr>
        <div class="row justify-content-start">
            <div class="col-2 ml-3">
                <span style="font-size:1.8rem">난이도</span>
                <span class="ml-4" style="font-size:1.8rem">|</span>
            </div>
            <div class="col-4">
                <span style="font-size:1.8rem"><b><%= items.recipeData[0].difficulty %></b></span>
            </div>

            <div class="col-2 ">
                <span style="font-size:1.8rem">소요시간 </span>
            </div>
            <div class="col-1">
                <span style="font-size:1.8rem">|</span>
            </div>
            <div class="col-2">
                <%var min = items.recipeData[0].totalTime%>
                <span id="time" style="font-size:1.8rem"><%= min.slice(0,min.length-3)%></span>
                <span style="font-size:1.8rem">분</span>
            </div>
        </div>
        <hr>

        <!--SNS-sharing-->
        <div class="row text-left ">
            <div class="col-1 mx-3">
                <span style="font-size:1.8rem">공유</span>
            </div>
            <div class="col-2">
                <a id="kakao-link-btn" href="javascript:sendLink()"><img class="ml-5" src="/static/kakao.png" width=50 height=50></a>
            </div>
        </div>
        <hr>

        <!--mainContents-->
        <div class="recipe mt-5 p-5">
            <p id="recipe_content">
                <!-- <%= items.recipeData[0].recipeContents %>-->
                마크 정식 만들어보기<br><br>

                1. 커피포트 혹은 주전자에 물 끓이기! 물 끓는 동안 소세지 15~30초 돌린다. <br>
                2. 떡볶이와 스파게티에 뜨거운 물을 부어준다... 떡볶이에 물을 약간 덜 붓는게 좋음 <br>
                3. 스파게티는 소시지로 눌러두고! 떡볶이는 전자레인지에 3분 돌려준다! <br>
                TIP. 2분 지났을 때 한번 뒤적여주면 완벽크  <br>
                ~ 3분 후~  <br>
                4. 전자렌지에서 떡볶이 꺼내고, 물을 따라난 스파게티 면에 액상소스와 치즈가루 뿌린다. <br>
                5. 두개를 섞~섞~ 골고루 잘 섞어쥼니다. <br>
                6. 소세지를 썰어서 올려주고 치즈를 뿌려줌. <br>
                7. 치즈 녹을 수 있도록 뚜껑 살짝 덮고 30초정도 돌려줌! <br>
                ~ 30초 후~  <br>
                완성!!!!!!!!! <br>
                맛있게 먹는다 끝!!!!
            </p>
        </div>

        <!--내 글인 경우에만 뜬다-->
        <% if(isLoggedin && (userId == userID)) { %>
        <div class="text-right my-4">
            <div class="button-group">
                <button class="btn btn-primary mx-2" id="recipe_correct" href="#">수정</button>
                <button class="btn btn-primary mx-2" id="recipe_delete" href="#">삭제</button>
            </div>
        </div>
        <% } %>

        <div class="text-center my-3">
            <a href="/recipe/mainRecipe">
                <button class="btn btn-outline-primary my-3" id="back_to_list">레시피 목록으로 돌아가기</button>
            </a>
        </div>

        <!--comments-->
        <h3 class="text-center mt-5"><b>댓글</b></h3>
        <hr>

        <div class="comment-container">
            <% var isCommentWritten = 0; %>
            <%    for(var i = 0; i < items.comment.length; i++) { %>
            <%       var commentWriter = items.comment[i].userId; %>
            <%      if(isLoggedin && (commentWriter == userID)){%>
            <%               isCommentWritten=1;%>
            <%               var commentContents = items.comment[i].commentContents;%>
            <%              var rate = items.comment[i].rate;%>
            <%   }%>
                <%      }%>

            <!--유저 댓글 있는 경우 (항상 위에): 댓글 작성하기 없음 -->
            <% if(isCommentWritten == 1) { %>
            <div class="comment-mine">
                <div class="row ml-3">
                    <h4><b>내가 작성한 댓글</b></h4>
                </div>
                <div class="row ml-3">
                    <div class="col-7">
                        <h4 id="user_comment"><%=commentContents%>></h4>
                    </div>
                    <h4 class="ml-3">|</h4> <!--평점을 별로 바꾸는 거 처리해야-->
                    <div class="col-2 ml-3 align-self-center ">
                        <!--                    수정사항 : span 개수를 rate 만큼으로 for loop 처리-->
                        <% for(var j = 0; j < rate; j++) { %>
                            <!--평점<%= rate %>을 별로 바꾸는 거 처리해야-->
                            <span class="fa fa-star checked"></span>
                        <%}%>
                    </div>
                    <h4 class="ml-3">|</h4>
                    <div class="button-group ml-4">
<!--                        수정 버튼 삭제-->
<!--                        <button class="btn btn-primary mx-2" id="comment_correct" href="#">수정</button>-->
                        <button class="btn btn-primary mx-2" id="comment_delete" href="#">삭제</button>
                    </div>
                </div>
                <hr>
            </div>
            <%}%>

            <% for(var i = 0; i < items.comment.length; i++) { %>
                <% var commentIdx = String(i+1) %>
                <% var userId = items.comment[i].userId %>
                <% var commentContents = items.comment[i].commentContents %>
                <% var rate = items.comment[i].rate %>
                <% if(!isLoggedin) { %>
                    <!--댓글 하나-->
                    <div class="row comment-row">
                        <div class="ml-5 mr-1" >
                            <h4 id="index">  <%= commentIdx %></h4>
                        </div>
                        <h4 class="ml-3">|</h4>
                        <div class="col-1 ml-3">
                            <h4 id="user_id"><%= userId %></h4>
                        </div>
                        <h4 class="ml-3">|</h4>
                        <div class="col-7">
                            <h4 id="my_comment" class="ml-3"><%= commentContents %></h4>
                        </div>
                        <h4 class="ml-3">|</h4>
                        <div class="col-2 ml-3 align-self-center">
<!--                    수정사항 : span 개수를 rate 만큼으로 for loop 처리-->
                            <% for(var j = 0; j < rate; j++) { %>
                            <!--평점<%= rate %>을 별로 바꾸는 거 처리해야-->
                            <span class="fa fa-star checked"></span>
                            <%}%>
                        </div>
                        <hr>
                    </div>
                <% }} %>
        </div>


        <!--댓글 작성하기: 유저 댓글 없음 -->
        <% if(isCommentWritten == 0) { %>
<!--     수정사항 : 라디오 버튼으로 된 별 평점 없애고 숫자 타입으로 넣어줌-->
        <li class="writeComment">
            <form class="search" action="" method="post">
                <input type="text" name="commentWrite">
                <input type="number" name="usersRate"> / 5점
            </form>
            <button class="enrollComment" id="searchButton">댓글 작성</button>
<!--        <form class="comment mt-4 text-center" action="" method="post">-->
<!--            <div class="form-group row align-items-center">-->
<!--                <label class="col-1 col-form-label ml-4" for="cmt_input"><h4>작성</h4></label>-->
<!--                <input type="text" style="font-size:1.5rem" id="cmt_input" class="form-control col-sm-7" placeholder="코멘트를 30자 이내로 남겨주세요 :)">-->
<!--                <div class="rating-group ml-4">-->
<!--                    <input disabled checked class="rating_input rating_input&#45;&#45;none" name="rating3" id="rating3-none" value="0" type="radio">-->
<!--                    <label aria-label="1 star" class="rating_label" for="rating3-1"><i class="rating_icon rating_icon&#45;&#45;star fa fa-star"></i></label>-->
<!--                    <input class="rating_input" name="rating3" id="rating3-1" value="1" type="radio">-->
<!--                    <label aria-label="2 stars" class="rating_label" for="rating3-2"><i class="rating_icon rating_icon&#45;&#45;star fa fa-star"></i></label>-->
<!--                    <input class="rating_input" name="rating3" id="rating3-2" value="2" type="radio">-->
<!--                    <label aria-label="3 stars" class="rating_label" for="rating3-3"><i class="rating_icon rating_icon&#45;&#45;star fa fa-star"></i></label>-->
<!--                    <input class="rating_input" name="rating3" id="rating3-3" value="3" type="radio">-->
<!--                    <label aria-label="4 stars" class="rating_label" for="rating3-4"><i class="rating_icon rating_icon&#45;&#45;star fa fa-star"></i></label>-->
<!--                    <input class="rating_input" name="rating3" id="rating3-4" value="4" type="radio">-->
<!--                    <label aria-label="5 stars" class="rating_label" for="rating3-5"><i class="rating_icon rating_icon&#45;&#45;star fa fa-star"></i></label>-->
<!--                    <input class="rating_input" name="rating3" id="rating3-5" value="5" type="radio">-->
<!--                </div>-->
<!--                <button id="commet_submit" value="제출" class="btn btn-primary ml-4 align-self-center">댓글작성</button>-->
<!--&lt;!&ndash;                <input type="submit" id="commet_submit" value="제출" class="btn btn-primary ml-4 align-self-center">&ndash;&gt;-->
<!--            </div>-->
<!--        </form>-->
        </li>
        <% } %>

    </div>

    <footer class="text-muted">
        <div class="container">
            <hr class="featurette-divider">
            <p class="float-right">
                <a href="#">Back to top</a>
            </p>
            <p>오픈SW플랫폼 Team17 이소망, 이채은, 최희조</p>
        </div>
    </footer>
</main>
<script>
    document.querySelector(".recipeInfo").id = '<%= recipeTitle %>';
</script>

<!--kakao link api base code-->
<script>
    Kakao.init('e49eeec2a8bf33e9b674f97efdfc5a3f');
    // // 카카오링크 버튼을 생성합니다. 처음 한번만 호출하면 됩니다.
    function sendLink() {
        Kakao.Link.sendDefault({
            objectType: 'feed',
            content: {
                title: '딸기 치즈 케익',
                description: '#케익 #딸기 #삼평동 #카페 #분위기 #소개팅',
                imageUrl: 'http://mud-kage.kakao.co.kr/dn/Q2iNx/btqgeRgV54P/VLdBs9cvyn8BJXB3o7N8UK/kakaolink40_original.png',
                link: {
                    webUrl: 'https://localhost:3000/recipe/detailRecipe/'
                }
            },
            social: {
                commentCount: 45,
            },
            buttons: [
                {
                    title: ' 앱으로 보기',
                    link: {
                        webUrl: 'https://developers.kakao.com'
                    }
                }
            ]
        });
    }
</script>
<script type="module" src="/js/detailRecipe.js"></script>

</body>
</html>