<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>HoneyCombo</title>
    <link rel="stylesheet" href="/recipeDetail.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<header>
    <div class="container d-flex mt-2">
        <div class="p-2">
            <a href="main">
                <div class='logo-wrapper'>
                    <img class='img-fluid' src="/static/logo.png" width="200" height="70">
                </div>
            </a>
        </div>
        <div class="p-2">
            <nav class="navbar navbar-expand-lg navbar-light">
                <ul>
                    <li><a class="nav-a one p-3 text-dark ml-2 mr-5" href="/product/main" style="text-decoration:none"><h3>상품</h3></a></li>
                    <li><a class="nav-a two p-3 text-dark ml-3" href="/recipe/mainRecipe" style="text-decoration:none"><h3>레시피</h3></a></li>
                    <hr id="nav_hr">
                </ul>
            </nav>
        </div>

        <% if (isLoggedin) { %>
            <div class="ml-auto p-4 mt-2">
                <h5 class="d-inline mt-1"> <%= userID  %>님 반가워요 :)</h5>&nbsp;
                <a class="btn btn-primary" id="logout" href="/auth/logout">로그아웃</a>
                <a class="btn btn-primary" id="dropout" href="/auth/dropout">회원탈퇴</a>
            </div>
        <% } %>
        <% if (!isLoggedin) { %>
            <div class="ml-auto p-4 mt-2">
                <a class="btn btn-primary" id="login" href="/auth/login">로그인</a>
                <a class="btn btn-primary" id="signup" href="/auth/signup">회원가입</a>
            </div>
        <% } %>
    </div>
</header>

<section class="recipeInfo" id="">
    <section class="thumnail">
        <% var imgSrc = '/images/' + items.recipeData[0].imgPath %>
        <% var recipeTitle = items.recipeData[0].title %>
        <ul>
            <li>
                <img src="<%= imgSrc %>" alt="Submit Form"/>
                <span>TITLE : <%= recipeTitle %></span>
            </li>
        </ul>
    </section>
    <section class="products">
        <% for ( var i = 0; i < items.usedProduct.length; i++){ %>
            <article>
                <!--TODO : change source path and change IMGFILENAME to format contained file-->
                <% var imgSrc = '/images/' + items.usedProduct[i].imgPath %>
                <% var itemName = items.usedProduct[i].itemName %>
                <% var itemPrice = items.usedProduct[i].itemPrice %>

                <li>
                    <img src="<%= imgSrc %>" alt="item Img"/>
                    <span><%= itemPrice %>won</span>
                    <span><%= itemName %></span>
                </li>
            </article>
        <% } %>
    </section>
    <section class="recipeRating">
        평점 : <%= avgRate %>
        가격 : <%= items.recipeData[0].totalPrice %>
    </section>
    <section class="SNS-sharing">
        Insta/Kakao/Facebook...
    </section>
    <section class="mainContents">

    </section>
    <section class="comments">
        <p>댓글</p>
        <ul>
            <li class="eachComment">
                <% for(var i = 0; i < items.comment.length; i++) { %>
                    <% var commentIdx = String(i) %>
                    <% var userId = items.comment[i].userId %>
                    <% var commentContents = items.comment[i].commentContents %>
                    <% var rate = items.comment[i].rate %>
                    <%= userId %>&nbsp; | <%= commentContents %>&nbsp; | <%= rate %>
                    <% if(isLoggedin && (userId == userID)) { %>
            <li class="modifyComment">
                <button name="">수정</button>
            </li>
            <li class="deleteComment">
                <button name="">삭제</button>
            </li>
            <% }} %>
            </li>

            <h4>댓글쓰기</h4>
            <li class="writeComment">
                <form action="" method="post">
                    <input type="text" name="commentWrite">
                    <input type="number" name="usersRate">
                </form>
                <button name="submitComment">등록</button>
            </li>

        </ul>
    </section>
    <section>
        <a href="/recipe/mainRecipe">목록보기</a>
        <a href="/recipe/writeRecipe">글쓰기</a>
    </section>
</section>
<script>
    document.querySelector(".recipeInfo").id = '<%= recipeTitle %>';
</script>
<script type="module" src="/js/detailRecipe.js"></script>

</body>
</html>