<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HoneyCombo</title>
    <link rel="stylesheet" type="text/css" href="../../src/css/mainRecipe.css">
    <link rel="stylesheet" href="../../src/js/tags/jquery.tag-editor.css">
</head>
<body>
<h1>레시피 메인 페이지</h1>
<nav>
    <!--    login, signup, logout, product, reciped -->
    <ul>
        <li><a href="/product/main">상품</a></li>
        <li><a href="/recipe/mainRecipe">레시피</a></li>
    </ul>

    <div class="auth">
        <% if (isLoggedin)  { %>
            <div>
                <h5><%= userID %>님 안녕하세요!</h5>
                <a href="/auth/logout">logout</a>
                <a href="/auth/dropout">drop out</a>
            </div>
        <% } %>
        <% if (!isLoggedin) { %>
            <div>
                <li><a href="/auth/login">login</a></li>
                <li><a href="/auth/signup">signup</a></li>
            </div>
        <% } %>
    </div>
</nav>

<section class="showWrap">
    <div class="searchsection">
        <ul>
            <!--TODO: if text input area is empty, blocking button at front and don't send request to server-->
            <li class="recipePriceSearch">
                <a class="search" id="searchword">가격검색 |</a>
                <form class="search" action="" method="post">
                    <!--                TODO : using type = number-->
                    <input type="text" name="minPrice" placeholder="원">
                    <a>~</a>
                    <input type="text" name="maxPrice" placeholder="원">
                </form>
                <button class="search" id="searchButton">검색</button>
            </li>

            <li class="recipeTagSearch">
                    <a class="search" id="searchword">태그검색 |</a>
                    <textarea class="search" id="tags"></textarea>
                    <button class="search" id="tagsButton">검색</button>
            </li>
        </ul>
    </div>
    <div class="write">
        <a id="writeButton" href="/recipe/writeRecipe">글쓰기</a>
    </div>
    <!--TODO: show default result recipe list using 'see more' button-->
    <div class="defaultResult">
        <div class="existRecipe">총 <a><%= items.length %></a>개의 레시피 </div>
        <% if(items != null && items.length > 0){ %>
        <ul>
            <% for ( var i = 0; i < items.length; i++){ %>
                <article class="recipe">
                    <!--TODO : change source path and change IMGFILENAME to format contained file-->
                    <% var imgSrc = '/images/' + items[i].IMGFILENAME %>
                    <% var tagStr = items[i].TAGCONTENTS %>
                    <% var subItemList = tagStr.split('#') %>
                    <% var detailUrl = '/recipe/detailRecipe/' + items[i].TITLE %>
                    <% var tempTitle = items[i].TITLE %>

                    <!--<h4><%= i %>번째 레시피</h4>-->
                    <li class="seeDetail">
                        <% var actionUrl = "/recipe/detailRecipe/viewDetail/" + tempTitle %>
                        <form action="<%= actionUrl %>" method='get'>
                            <input id="recipeimage" type="image" src="<%= imgSrc %>" alt="Submit Form" />
                        </form>
                    </li>
                    <li id="recipeUser"><%= items[i].USERID %>님의 레시피</li>
                    <li id="recipeTitle"><%= tempTitle %></li>
                    <li id="recipePrice"><%= items[i].TOTALPRICE %>원</li>
                    <li id="recipeItem"><a>필요한 재료:</a>
                        <% for( var j = 1; j < subItemList.length; j++) { %>
                        <%= subItemList[j] %>&nbsp;|&nbsp;
                        <% } %>
                    </li>
                </article>
            <% } %>
            <% } else { %>
                <p>상품 없음</p>
            <% } %>
        </ul>
    </div>
</section>
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.10.2/jquery-ui.min.js"></script>
<script src="../../src/js/tags/jquery.caret.min.js"></script>
<script src="../../src/js/tags/jquery.tag-editor.js"></script>
<script>
        // jQuery UI autocomplete extension - suggest labels may contain HTML tags
        // github.com/scottgonzalez/jquery-ui-extensions/blob/master/src/autocomplete/jquery.ui.autocomplete.html.js
        $(function () {
            $('#tags').tagEditor({
                delimiter: '# ',
                placeholder: '검색할 상품 태그들을 입력해주세요...'
            }).css('display', 'block').attr('readonly', true);
        });

        document.querySelector('#tagsButton').addEventListener('click', async function (e) {
            let tags = $('#tags').tagEditor('getTags')[0].tags;
            console.log(tags);
        });
</script>
<script type="module" src="../../src/js/mainRecipe.js"></script>
</body>
</html>